h1 {
    margin-left: 70px;
    }
    form li {
    list-style: none;
    margin-bottom: 5px;
    }
    
    form ul li label{
    float: left;
    clear: left;
    width: 200px;
    text-align: left;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:14px;
    }
    
    form ul li input, select, span {
    float: left;
    margin-bottom: 10px;
    }
    
    form textarea {
    float: left;
    width: 350px;
    height: 150px;
    }
    
    [type="submit"] {
    clear: left;
    margin: 20px 0 0 230px;
    font-size:18px
    }
    
    p {
    margin-left: 70px;
    font-weight: bold;
    }
    .wrapper {
        display: flex;
        align-items: center;
        flex-direction: column; 
        justify-content: center;
        width: 100%;
        min-height: 100%;
        padding: 20px;
      }
      
      #formContent {
        -webkit-border-radius: 10px 10px 10px 10px;
        border-radius: 10px 10px 10px 10px;
        padding: 30px;
        width: 90%;
        max-width: 600px;
        position: relative;
        padding: 0px;
        -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
        box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
        text-align: center;
      }
      html {
        background-color: black;
      }
     
      
      input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
        background-image: url(../img/ys2.png);
      }
      
      input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
        -moz-transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -o-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
      }
.indam
{
  font-weight: bold;
}

 

.gallery-single {
  margin-bottom: 30px;
  }
  
.gallery-single {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 5 10 10px #ccc;
  box-shadow: 5 10 10px #ccc;
}
.why-text {
  position: absolute;
  left: 0;
  bottom: 100%;
  right: 0;
  height: 100%;
  padding: 12px 12px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.why-text h4{
color: #ffffff;
font-size: 16px;
font-weight: 500;
font-family: 'Rubik', sans-serif;
}
.why-text p{
color: #ffffff;
font-size: 13px;
margin: 0px;
padding-bottom: 10px;
margin-top: 0px;
margin-bottom: 10px;
}
.why-text h5{
font-size: 18px;
font-weight: 600;
color: #ffffff;

}

.gallery-single:hover .why-text{
bottom: 0px;
}
#button
{
color:  white;
font-weight:bold;
text-decoration:none;
display:block;
background-color: white ;
float: right;
font-size: 12px;
}