<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner" ng-controller="mid">
      <div class="carousel-item active">
        <img id="headerr" src="{{hinh1}}" alt="Audi Vietnam">
      </div>
      <div class="carousel-item" ng-controller="mid">
        <img id="headerr" src="{{hinh2}}" alt="Audi Vietnam">
      </div>
      
    </div>
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
</div>

<div style="background-color: white;" class="container-fluid">
  <br>
  <br>
  <br>
</div>
<!-- information -->
<div class="container-fluid">
  <div style="background-color: white;" class="row" ng-controller="mid">
    <div class="col-sm-6 " ng-controller="mid">
      <h2 style="font-family: sans-serif; font-size: 40px; text-align: center; color: black ; font-weight: bold;"><strong>{{chu}}</strong></h2>
      <p style="text-align: justify; color: black;"><span style="font-size: 120%;">{{content}}</span></p>
      <p style="text-align: justify; color: black;"><span style="font-size: 120%;">
        {{content1}} </span></p>
        
    </div>
    
    <div class="col-sm-6 " ng-controller="mid">
      <h2 style="font-family: sans-serif; font-size: 40px; text-align: center; color: aliceblue ; font-weight: bold;"><strong>{{chuu}}</strong></h2>
      <img class="img-thumbnail" src="{{hinh3}}">
    </div>
  </div>
</div>
<!-- xe1 -->
<div style="background-color: white;" class="container-fluid">
  <br><br><br>
</div>
<!-- thẻ hr -->
<div ng-controller="mid">
  <h2 style="color: black;">{{xe1}}</h2>
</div>
<hr style="background-color: blanchedalmond;">
<div style="background-color: white;" class="container-fluid">
  <br>
</div>
<div  class="container-fluid" ng-controller="bot">
  <div class="row">
    <div class="nhapnhaychu col-sm-3" ng-repeat="item in cut">
      <div class="card img-thumbnail ">
        <img class="card-img-top" src="{{item.hinh}}" alt="Card image">
        
        <div class="txt">
          <h3>Audi Vietnam</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- xe2 -->
<div style="background-color: white;" class="container-fluid">
  <br>
</div>
<!-- thẻ hr -->
<div ng-controller="mid">
  <h2 style="color: black;">{{xe2}}</h2>
</div>
<hr style="background-color: white;">

<div  class="container-fluid" ng-controller="bot">
  
  <div class="row">
    <div class="nhapnhaychu col-sm-3" ng-repeat="item in ngay">
      <div class="card img-thumbnail ">
        <img class="card-img-top" src="{{item.hinh}}" alt="Card image">
        
        <div class="txt">
          <h3>Audi Vietnam</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- xe3 -->
<div style="background-color: white;" class="container-fluid">
  <br>
</div>
<!-- thẻ hr -->
<div ng-controller="mid">
  <h2 style="color: black;">{{xe3}}</h2>
</div>
<hr style="background-color: white;">
<div  class="container-fluid" ng-controller="bot">
  <div class="row">
    <div class="nhapnhaychu col-sm-3" ng-repeat="item in bien">
      <div class="card img-thumbnail ">
        <img class="card-img-top" src="{{item.hinh}}" alt="Card image">
        
        <div class="txt">
          <h3>Audi Vietnam</h3>
        </div>
      </div>
    </div>
  </div>
</div>
